body {
	  background-color: #ffffff;
	  color: #000000;
    font-family: "Noto Serif JP", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", "HGS明朝E", "MS Ｐ明朝", "MS PMincho", serif;
}
img {
	  max-width: 100%;
}
h2 {
    font-weight: bold;
    text-align: center;
}
p {
    text-align: center;
}
.header {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    z-index: 5;
    height: 80px;
}
.header-inner {
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    margin: 0 0 0 10px;
}
.mv_visual {
    padding: 0 0 0 0;
}
.select {
    color: #444;
}
  /* Nav items */
  .menu {
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 52px;
    padding: 0 0 10px 0;
    clear: both;
    background: var(--background-navbar);
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
  }
  /* Hamburger menu button */
  .menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  /* Hamburger menbu text */
  .menu a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #303030;
    opacity: 0;
    transition: 0.5s;
  }
  .menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 5px 0;
    margin: 40px 80% 25px 90px;
    opacity: 0;
    transition: 0.5s;
  }
  .menu-btn:checked ~ .menu a,.menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
    font-size: 25px;
  }
  .menu-btn {
    display: none;
  }
  .menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 40px 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .navicon {
    background: #ddd;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  .navicon:before,.navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  .navicon:before {
    top: 9px;
  }
  .navicon:after {
    bottom: 9px;
  }
  /* Hamburger Menu Animation Start */
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  /* Hamburger Menu Animation End */
  /* Navbar Text */
  .navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
  }